extends layout 

block content
  h1= title 

  p.delete Are you sure you want to delete #[span #{book.title}]?

  form(action="/books/" + book.id + "/delete", method="post")
    a(href="/books/" + book.id class="error del-book") No! Take me back! 
    | 
    input(type="submit", value = "Yes, I'm sure" class="del-btn")



