doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/mystyles.css")
  body
    cite Photo by 
      a(href="https://unsplash.com/@otutunaru?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText") Olga Tutunaru 
      span on 
      a(href="https://unsplash.com/s/photos/books?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText") Unsplash
  
    main
      block content
