* {
  box-sizing: border-box;
}

body {
  background-color: rgb(199, 207, 214);
}

main {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header p {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.footer p {
  margin: 0;
}

.pagination {
  display: flex;
}

.pagination li {
  margin-left: 10px;
}

a.button {
  background-color: #019875;
}

.pagination a.active {
  background-color: #fff;
  color: #019875;
  border: 1px solid #019875;
}
  